.container{
    background-color: $DarkViolet;
    height: 600px;
    width: 100%;
    display: flex;
    

    .content{
        padding-top: 178px;
        padding-left: 125px;

        &__heading{
            font-family: 'DM Serif Display', serif;
            font-weight: 400;
            color: $VeryLightGray;
            font-size:52px;
        }

        &__para{
            font-family:'Karla', sans-serif;
            font-weight: 700;
            font-size: 14px;
            color: $DarkGrayishViolet;
            padding-top: 10px;
        }

        &__btn{
            border: 2px solid $VeryLightGray;
            background-color: $DarkViolet;
            color: $DarkGrayishViolet;
            margin-top: 38px;
            padding: 12px 24px;
            font-family: 'Karla', sans-serif;
            font-weight: 700;
            transition: 0.5s;
            cursor: pointer;

            &:hover{
                color: $VeryLightGray;
                background-color: $DarkViolet;
            }
        }
    } 
    
    
    .person{

        margin-top: 102px;
        padding-left: 28px;

    }
   
}


.imageone{
    height: 332;
    width: 1440;
    display: flex;
    justify-content: space-between;

    &__patrren{
        margin-top: -171px;
    }



    &__rightpatrren{
        margin-top: -600px;
    }
}