.flex{
    @media screen and (max-width:1024px) and (min-width:746PX){
        display: block;
    }    
   
}

.container{
    @media screen and (max-width:1024px) and (min-width:746PX){
        display: block;
    }    
}
.imageone{
    @media screen and (max-width:1024px) and (min-width:746PX){
        display: block;
    }    
}